{{#if user }}


<p>Welcome, {{user.username}}</p>
<h4>Create a new Chatroom</h4>
<label for="chatroom">Enter your Chatroom details here:</label>
<form action="/create/chat" method="POST">
    <label for="name">Enter Chatroom Name</label>
    <input type="text" name="name">
    <label for="topic">Specify Topic</label>
    <input type="text" name="topic">
    <br>
    <label for="friends"> add friends</label>
    {{#each friendship}}
    <input type="checkbox" value="{{this.friend._id}}" name="friends"> <label> {{this.friend.username}}</label>
    {{/each}}
    <button type="submit">Submit</button>
</form>


<a href="/allchats">Enter Lobbies</a>


{{/if}}