<div class="mainBckgrd">
<div class="container codeyContainer">
    <div class="row">

        <div class="col-16 col-xl-12 codeyTitle">
        <h1>{{title}}</h1>
        </div>

        <div class="codeyParagraph">
        <p>Communicate with your colleagues, friends, or co-workers, and test Javascript code at the same time.
        </p>
        </div>

   </div>
</div>
</div>

