{{!-- <div class="my-element">




</div>

<script src="https://embed.runkit.com" data-element-id="my-element"></script> --}}



<script src="https://embed.runkit.com"></script>
<div id="my-element"></div>
<script>var notebook = RunKit.createNotebook({
        // the parent element for the new notebook
        element: document.getElementById("my-element"),
        // specify the source of the notebook
        source: "// GeoJSON!\nvar getJSON = require(\"async-get-json\");\n\nawait getJSON(\"https://storage.googleapis.com/maps-devrel/google.json\");"
    })</script>