{{#if currentUser}}

<h1>All your Friends</h1>

<<<<<<< HEAD
=======
{{#each friendship}}
<li>Name: {{this.friend.username}} | |  Status: {{this.status}}</li>
<form>
    
</form>
{{/each}}

>>>>>>> 823b29d6e73cce45dd6af1398a3e9ee875e5ef84

{{/if}}