<form action="/searchUser" method="GET">
<label>Username</label>
<input type="text" name="userToSearch">
<button>Search</button>
</form>

<form action="/AddNewFriend" method="POST">
<label>Username</label>
<input type="text" name="name">
<button>Add Friend</button>
</form>

<ul>
{{#if theUser}}

{{#each theUser}}
<li>{{this.username}} ID: {{this._id}}</li>

{{!-- <form action="/AddNewFriend" method="POST">
<button class="addFriend" value="{{this._id}}">ADD FRIEND</button>
</form> --}}


{{/each}}

{{/if}}
</ul>
{{!-- {{#if errorMessage}}
<div>{{errorMessage}}</div>
{{/if}} --}}
<a href="/">Go back</a>